.resume {
    max-height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.resume::-webkit-scrollbar {
    display: none;
}