.summary {
    font-size: 13px;
    line-height: 140%;
}

.summary a {
    text-decoration: none;
    color: #181818;
}

@media (max-width: 657px) {
    .summary {
        height: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .summary::-webkit-scrollbar {
        display: none;
    }


    .summary a {
        text-decoration: none;
        color: #489f8f;
    }
}