.header {
    margin: 14px 0;
    padding: 14px;
    background: repeating-linear-gradient(180deg,
            #68b0d0,
            #408db2 10px,
            #2878a0 10px,
            #2e6b8a 20px);
    color: #e1e2e2;
}

.header h3 {
    margin: 0;
    font-size: 14px;
}

.programmerCard, .nome {
    width: fit-content;
}