.project-page{
    text-align: left;
    padding: 50px;
}

.project img{
    height: 20px;
}

.project{
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: left;
}

.project p{
    font-size: 14px;
}

.project h3{
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 17px;
}