.job_section h3{
    font-size: 1.7rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.job_item{
    margin-left: 15px;
}

.job_item span{
    font-size: 1.3rem;
    color: green;
}

.job_item li{
    font-size: 1.2rem;
    padding-left: 30px;
}

.job_item small{
    font-size: 0.9rem;
    color: rgb(87, 87, 87)
}