#page-hobbies h6{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#referencia{
    text-align: center;
    font-size: 10px;
}

.hobbie_item div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.hobbies p{
    font-size: 17px;
    text-align: center;
}

.hobbies img{
    height: 100px;
}