#page-hobbies h6{
    margin-top: 10px;
    margin-bottom: 25px;
}

#referencia{
    text-align: center;
}

.hobbies{
    display: grid;
    grid-template-areas:
    "musica1 musica2 filmes";
}

.hobbies div{
    display: grid;
    grid-template-areas:
    "photo"
    "nome";
    grid-auto-rows: 1fr max-content;
}

.hobbie_item div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.hobbies p{
    font-size: 20px;
}

.hobbies img{
    height: 100px;
}

#img{
    height: auto;
}

#referencia{
    font-size: 10px;
}