#languages p{
    margin-bottom: 0;
    font-size: 17px;
}

#languages h6{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#espanhol{
    display: flex;
}

#block, #transparent{
    height: 20px;
    width: 10%;
    background-color: #64bcf9;
    border: 4px solid #3f3633;
}

#transparent{
    background-color: transparent;
}