#project-page{
    text-align: left;
    max-width: 100vw;
    max-height: 100vh;
}

#project img{
    width: 20px;
}

#project{
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: left;
}

#project p{
    font-size: 14px;
}

#project h3{
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 300;
}