.page-hobbies h6{

    margin-top: 10px;
    margin-bottom: 25px;
}

.referencia{
    text-align: center;
}

.hobbie-item div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.hobbies p{
    text-align: center;
}

.hobbies img{
    height: 100px;
}