.page-hobbies h6{
    margin-top: 10px;
    margin-bottom: 25px;
}

.referencia{
    text-align: center;
    font-size: 8px;
}

.hobbie-item div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.hobbies p{
    text-align: center;
    font-size: 12px;
}

.hobbies img{
    height: 100px;
}

@media(max-width: 500px) {
    .page-hobbies h6 {
        display: none;
    }

    .referencia {
        margin-top: 20px;
    }

    .hobbies p {
        margin-top: 8px;
    }

    .page-hobbies {
        max-height: 100%;
        overflow: scroll;
    }

    .referencia a {
        color: #ffe9bd;
    }

    .hobbies img{
        height: 55px;
    }
}