.footer {
    color: #e1e2e2;
    background: repeating-linear-gradient(180deg,
            #68b0d0,
            #408db2 10px,
            #2878a0 10px,
            #2e6b8a 20px);
    padding: 14px;
    margin: 14px 0px;
    font-size: 14px;
    flex: 1;
}

.badges {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 658px) {
    .footer {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;

        h5 {
            margin: 0;
            font-size: 19px;
        }
    }
}