.touch {
    height: 50vh;
}

.controller {
    background-color: white;
    color: #181818;
    padding: 5px;
    border-radius: 9999px;
    height: 21px;
    width: 21px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

.touch-header {
    display: flex;
    background: rgb(24,24,24);
    background: linear-gradient(180deg, rgba(24,24,24,1) 80%, rgba(49,49,57,1) 83%, rgba(74,82,99,1) 85%, rgba(132,150,168,1) 100%);
    height: 30px;
    align-items: center;
    justify-content: right;
    padding: 0px 20px;
}

.TV {
    padding: 20px;
    background-color: #2e3641;
    height: calc(50vh - 30px);
}

.tv-content {
    height: 100%;
    width: 100%;
    text-align: left;
    background: 
        url('../../assets/img/cg2.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    border: #181818 6px solid;
    border-radius: 20px;
}

.t2 {
    padding: 20px;
    height: calc(50vh - 83px);
    display: flex;
    align-items: center;
}

.touch-header-back {
    color: red;
}

.touch-header-title {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

@media(min-width: 658px) {
    .touch {
        display: none;
    }
}