#teste{
  line-height: 1;
}

body{
    position: relative;
    background: #242424;
    color: white;
    text-align: center;
}

#main-content{
    height: 100vh;
    width: 100vw;
    background: url(logo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.row-wrap {
	  flex-flow: row wrap;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.saves{
  display: grid;
  grid-gap: 1rem;
  height: 25vh;
  font-size: 35px
}

#aSave, #aStart{
  text-decoration:none;
  color: white; 
}

.blink, #aSave:hover {
    animation: blink-animation 0.9s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.9s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

#header{
    height: 50vh;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 40px;
}

#header-main{
  background-color: black;
  width: 100vw;
  height: 27px;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-size: 35px;
}

#footer{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}

@media(max-width: 1440px){
  #header{
    font-size: 30px;
  }

  #footer{
    font-size: 20px;
  }

  .saves, #start{
    font-size: 25px;
  }
}

@media(max-width: 960px){
  #header{
    font-size: 25px;
  }

  #footer{
    font-size: 15px;
  }

  .saves, #start{
    font-size: 20px;
  }
}

@media(max-width: 720px){
  #header{
    font-size: 20px;
  }

  #footer{
    font-size: 10px;
  }

  .saves, #start{
    font-size: 15px;
  }
}

@media(max-width: 480px){
  #header{
    font-size: 15px;
  }

  #footer{
    font-size: 8px;
  }

  .saves, #start{
    font-size: 10px;
  }
}