body{
    position: relative;
    background: #242424;
    color: white;
    text-align: center;
    background: repeating-linear-gradient(
        180deg,
        #1b1b1b,
        #141414 5px,
        #0a0a0a 5px,
        #050505 10px
    );
}

#main-content{
    height: 100vh;
    width: 100vw;
}

#main-content::before, #main-content::after {
  content:"";
  position: fixed;
  width: 100%;
  height: 30vh;
  top: 0;
  left: 0;
  background-image: repeating-linear-gradient(to right, #0a0a0a 0, #0a0a0a 10px, #2e2e2e 5px, #2e2e2e 20px);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
#main-content::after {
  background-image: repeating-linear-gradient(to bottom, #0a0a0a 0, #0a0a0a 5px, #2e2e2e 5px, #2e2e2e 10px);
  mix-blend-mode: difference;
}

#header{
  position: relative;
}

.row-wrap {
	  flex-flow: row wrap;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.saves{
  display: grid;
  grid-gap: 1rem;
  height: 25vh;
  font-size: 33px
}

#aSave, #aStart{
  text-decoration:none;
  color: white; 
}

.blink, #aSave:hover {
    animation: blink-animation 0.9s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.9s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

#header{
    height: 50vh;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 38px;
}

#header-main{
  background-color: black;
  width: 100vw;
  height: 27px;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-size: 33px;
}

#footer{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    
}

@media(max-width: 1440px){
  #header{
    font-size: 33px;
  }

  #footer{
    font-size: 23px;
  }

  .saves, #start{
    font-size: 28px;
  }
}

@media(max-width: 960px){
  #header{
    font-size: 28px;
  }

  #footer{
    font-size: 18px;
  }

  .saves, #start{
    font-size: 23px;
  }
}

@media(max-width: 720px){
  #header{
    font-size: 23px;
  }

  #footer{
    font-size: 13px;
  }

  .saves, #start{
    font-size: 18px;
  }
}

@media(max-width: 480px){
  #header{
    font-size: 18px;
  }

  #footer{
    font-size: 8px;
  }

  .saves, #start{
    font-size: 13px;
  }
}